

.main{
background-color: #1c1c1c;
}
#container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    outline: rgb(221, 221, 221) solid 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#items{
    align-items: center;
    padding: 1fr;
    font-size: 1.3em;
    height: 1fr;
    text-decoration: none;
    color: oldlace;
    cursor: pointer;

}
